# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Uploads and Outputs from users
uploads/*
!uploads/.gitkeep
output/*
!output/.gitkeep

# Environment variables
.env

# Virtual environment
venv/
env/
